:root {

  /* Font Families */

  --dh-font-heading: "Plus Jakarta Sans", sans-serif;

  --dh-font-body: "Inter", sans-serif;

  /* Font Weights */

  --dh-fw-regular: 400;
  --dh-fw-medium: 500;
  --dh-fw-semibold: 600;
  --dh-fw-bold: 700;
  --dh-fw-extrabold: 800;

}